<!DOCTYPE html>
	<head>
		<title>Bitmex Sentiment Bot</title>
		<link rel="stylesheet" href="/assets/styles.css">
	</head>
	<link rel="stylesheet" href="/assets/style.css">
	<body>
		<div class="container">
			<h1>BitMex Sentiment Bot</h1> <br>
			<nav><a href="https://github.com/cjenwere4/BitMexBot">GitHub</a></nav>
			<br> <br> <br> <br> <br>
			<p class="container"> NOTE: This site is only up to run the script for the bot. Results are currently posted on the 
				<a href="https://testnet.bitmex.com"> BitMex TestNet chat box.</a> Migration to the mainsite will happen soon. </p>
		</div>

		<script type="text/javascript">
			[].forEach.call(document.querySelectorAll("a"), function(element) {
				element.addEventListener("touchstart", function(e) {
					this.classList.add("active");
				});
				element.addEventListener("touchend", function(e) {
					this.classList.remove("active");
				});
			});
		</script>
	</body>
</html>
